langchain_google_genai
langchain
langchain_community
requests
dotenv
streamlit
Pillow
googlemaps
geopy
google-generativeai
pydeck
gtts
folium
streamlit-folium
openrouteservice
faiss-cpu
numpy
nltk
sentence-transformers
